{{#if (gt rowData.length 0)}}
  <table id="ember-table-collapsible-rows" class="table table-striped table-bordered-no-hover">
    <thead>
      <tr>
        {{#if title}}
        <td>
          <span class="collapsible-header-main-title">
            {{title}}
          </span>
        </td>
        {{/if}}
        <td colspan="2" class="checkbox-column pl-2">
          <div>
            {{#if showCheckAll}}
              <label class="font-weight-normal mb-0 pointer" {{action "checkAll"}}>
                  {{checked-icon checked=allChecked}} <span class="pl-1 va-middle">Select All</span>
              </label>
            {{/if}}

            <div class="text-right">
              {{#if (not allExpanded)}}
                <button id="Expand_All_Btn" {{action "expandAll"}} type="button" class="btn btn-default"><span class="fa fa-{{icons.openIcon}}" aria-hidden="true"></span> Expand All</button>
              {{/if}}
              {{#if (not allCollapsed)}}
                <button id="Collapse_All_Btn" {{action "collapseAll"}} type="button" class="btn btn-default"><span class="fa fa-{{icons.closedIcon}}" aria-hidden="true"></span> Collapse All</button>
              {{/if}}
            </div>
          </div>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each rowData as |row|}}
          {{table-collapsible-row row=row icons=icons badgeTerm=badgeTerm subTableConfig=subTableConfig title=title}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div id="blank-ember-table-collapsible-rows-table" class="no-results blank-table">
    No Items Found
  </div>
{{/if}}
