{{log subTableConfig}}
<div class="col-md-10 col-md-offset-1 enroll-verify-list">
  <table class="table table-striped table-bordered-no-hover margin-top-20 collapsible-row-subtable">
    <thead>
      <tr>
        {{#each subTableConfig.columns as |field|}}
          <td>{{ field.label }}</td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each (sort-by subTableConfig.sortFields subtable) as |row|}}
        <tr>
          {{#each subTableConfig.columns as |field|}}
            <td class="truncate" id={{unique-name-helper model='collapsibleTable' name=row.title dbid=row.id}}>
              {{#each field.fields as |fieldName index| }}{{#if index}}, {{/if}}{{ get row fieldName }}{{/each}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
 </table>
</div>
{{yield}}
