<td class="w-100" {{action "clickRow"}} colspan="99">
    <div class="flex-row pointer" >
      <div class="title-col">
        <div>
          <span>
            {{#if row.expanded}}
              <span class="fa fa-fw fa-{{icons.openIcon}} text-right" aria-hidden="true"></span>
            {{else}}
              <span class="fa fa-fw fa-{{icons.closedIcon}} text-right" aria-hidden="true"></span>
            {{/if}}
          </span>
          <span>
            <h4 class="collapsible-row-title pointer noselect font-weight-bold">
              {{row.title}}
            </h4>
          </span>
        </div>
      </div>

      <div class="badge-col">
          <div class="badge badge-collapsible-table">
            <div class="user-count-icon">
              <i class="fa fa-{{icons.badgeIcon}} instructor-icon" aria-hidden="true"></i> &nbsp;{{row.subtable.length}} {{ badgeTerm }}{{#if (not-eq row.length 1)}}s{{/if}}
            </div>
          </div>
      </div>
    </div>

    {{#if row.expanded}}
      {{table-collapsible-subtable subtable=row.subtable subTableConfig=subTableConfig}}
    {{/if}}
</td>
