$button-font: 'Roboto', sans-serif;
$link-color: #728BBC;
$input-color: #989898;
$input-font-size: 1.1em;
$input-padding: 20px 15px 20px 15px;
$input-border-color: #D0D7DD;
$input-font: 'Roboto', sans-serif;
$horizontal-rule-color: #D0D7DD;

/**
 * User Data Grid Variables
 */
$row-header-background-color: #2677B6;
$row-header-font: 'Ubuntu', sans-serif;
$row-header-font-color: #FFFFFF;

$primary-row-background-color: #FFFFFF;
$secondary-row-background-color: #F9F9F9;

$edit-icon-color: #000000;

$table-icon-size: 1.5em;

$active-status-icon-color: #28A745;
$active-status-icon-size: $table-icon-size;

$table-dropdown-menu-line-height: 2.0;
$table-dropdown-menu-icon-margin: 0 10px 0 0;

#ember-table-collapsible-rows thead {
  font-weight: bold;
}

.table-striped-margin {
  margin-top: 42px;
}

#ember-table-collapsible-rows .collapsible-row-title {
  margin-top: 0px;
  font-size: 14px;
  display: inline;
  margin-left: 10px;
}

#ember-table-collapsible-rows .title-col {
  @include make-sm-column(5, 0);
  margin-left: 4px;
  width: inherit !important;
}

#ember-table-collapsible-rows .user-count-icon {
  margin-right: 5px;
  margin-left: 5px;
  color: #FFFFFF;
}

#ember-table-collapsible-rows .instructor-icon {
  color: #FFFFFF;
}

#ember-table-collapsible-rows.table-bordered {
	thead {
		background-color: #2677B6;
		color: white;
	}
	td {
    vertical-align: middle !important;
		border: 0px !important;
	}
  td.vertical-top {
    vertical-align: top !important;
  }
	border: 0px !important;
  tbody tr:hover {
    background-color: #eee;
  }
  .col-icon {
    width: 28px;
  }

  .no-hover-head:hover{
    background-color: #2677B6;
  }
}

#ember-table-collapsible-rows.table-bordered-no-hover {
	thead {
		background-color: #2677B6;
		color: white;
	}
	td {
		border: 0px !important;
	}
	border: 0px !important;
  .col-icon {
    width: 28px;
  }
}

.text-right {
  text-align: right;
}

#ember-table-collapsible-rows.badge-collapsible-table {
  background-color: #DDD;
  font-size: 14px;
  font-weight: normal;
}

#ember-table-collapsible-rows.pointer{
  cursor: pointer;
}

#ember-table-collapsible-rows .collapsible-row-collapsed:hover {
  background-color: #eee !important;
}

#ember-table-collapsible-rows .collapsible-row-expanded:hover {
  background-color: #eee !important;
}

#ember-table-collapsible-rows .collapsible-row-expanded .title-col {
  margin-bottom: 10px;
}

#ember-table-collapsible-rows .collapsible-row-collapsed {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#ember-table-collapsible-rows .collapsible-row-expanded {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#ember-table-collapsible-rows table.collapsible-row-subtable {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#ember-table-collapsible-rows .collapsible-header-main-title {
  margin-left: 35px;
  top: 6px;
  position: relative;
}

#ember-table-collapsible-rows .flex-row {
  display: flex;
  flex-direction: row;
}

#ember-table-collapsible-rows .title-col {
  flex: 4 1 auto;
}

#ember-table-collapsible-rows .badge-col {
  flex: 1 1 auto;
  text-align: right;
}

#ember-table-collapsible-rows .margin-top-20 {
  margin-top: 20px;
}
