<h2 id="title">ember-collapsible-table</h2>

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    {{table-collapsible-rows
      rowData=tableConfig.rowData
      icons=tableConfig.icons
      badgeTerm=tableConfig.badgeTerm
      subTableConfig=tableConfig.subTableConfig
      title=tableConfig.title
    }}
  </div>
</div>

{{outlet}}
